#editText{
    position: relative;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 20px 30px 20px 20px; 
}

#editText:hover #editBtn{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;


}

#editBtn{
    display: none;
}

#editBtn:hover{
    cursor: pointer;
}

#textInput{
    width: 50%;
    height: 100%;
 color: aliceblue;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 20px 30px 20px 20px; 
}