


/* #left{
    height: 500px;
} */
#parent{
    margin-top: 80px;
}

#right{
    position: fixed;
   right : 0;
 
   right: 0;
 

   height: 100%;
}


/* #right .box {
 height: 700px;
} */

.test{
    height: 100%;
    position: relative;
}

